.first-box__bestseller {
  background-image: url(/img/Vector.png);
  width: 432px;
  height: 610px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  @media (max-width: $tablet) {
    width: 350px;
    height: 600px;
    top: -380px;
  }
  @media (max-width: $mobile) {
    width: 400px;
    height: 500px;
    background-image: url(/img/bestseller-bg-mobile.png);
    left: 300px;
  }
}

.btn-bestseller {
  @include btn;
  padding: 12px 100px;
  @media (max-width: $tablet) {
    display: inline-block;
  }
}

.h2-bestseller {
  @include title-categories;
  font-size: 50px;
  letter-spacing: 0.01em;
  line-height: 107.9%;
  margin-bottom: 25px;
  width: 573px;
}

.text-box__bestseller {
  margin-left: 96px;
  position: absolute;
  top: 225px;
  @media (max-width: $desktop) {
    margin-left: 50px;
  }
  @media (max-width: $tablet) {
    left: 300px;
    margin-top: -25px;
  }
  @media (max-width: $mobile) {
    left: 0;
    margin-left: 70px;
  }
}

.btn-bestseller:hover {
  background-color: rgb(12, 12, 56);
}

.first-diffuser {
  position: relative;
  @media (max-width: $mobile) {
    margin-left: -50px;
    top: 250px;
  }
}

.diffuser-content {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 0px 20px;
  width: 380px;
  height: 91px;
  margin-top: -100px;
  padding-left: 15px;
  padding-top: 13px;
  @media (max-width: $desktop) {
    width: 300px;
    height: 50px;
  }
  @media (max-width: $mobile) {
    width: 400px;
    height: 100px;
  }
}

.img-diffuser {
  border-radius: 0px 20px;
  @media (max-width: $desktop) {
    width: 300px;
  }
  @media (max-width: $mobile) {
    width: 400px;
    height: 408px;
  }
}

.diffuser-price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.price {
  padding: 2px 15px;
  background-color: $primary-color-green;
  border-radius: 15px;
  color: $primary-color-white;
  @media (max-width: $desktop) {
    padding: 1px 10px;
  }
}

.btn-market {
  background: none;
  border: none;
  margin-top: -10px;
}

.btn-market svg {
  @media (max-width: $desktop) {
    width: 40px;
    height: 40px;
  }
  @media (max-width: $tablet) {
    margin-left: -100px;
  }
}

.btn-first__diffuser {
  margin-left: 15px;
}

.diffuser-market {
  display: flex;
  align-items: center;
  gap: 61px;
}

.h4-diffuser {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #1f2937;
  @media (max-width: $desktop) {
    font-size: 18px;
  }
}

.market-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #6b7280;
  width: 239px;
  @media (max-width: $desktop) {
    font-size: 13px;
  }
}

.second-diffuser {
  position: relative;
  @media (max-width: $mobile) {
    margin-left: -50px;
    top: 250px;
  }
}

.diffuser-content__2 {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(25px);
  border-radius: 0px 20px;
  width: 380px;
  height: 91px;
  margin-top: -100px;
  padding-left: 15px;
  padding-top: 13px;
  @media (max-width: $mobile) {
    width: 400px;
  }
}

.bestseller-section {
  display: flex;
  align-items: center;
  gap: 244px;
  padding-right: 50px;
  @media (max-width: $desktop) {
    gap: 0px;
  }
  @media (max-width: $tablet) {
    margin-top: 425px;
  }
  @media (max-width: $mobile) {
    margin-top: 600px;
  }
}

.second_box-bestseller {
  display: flex;
  align-items: center;
  gap: 15px;
  @media (max-width: $tablet) {
    flex-direction: column;
    align-items: baseline;
    margin-top: 145px;
  }
  @media (max-width: $mobile) {
    margin-left: -50px;
  }
}

.dot-link {
  background: #9ca3af;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}

.first-dot {
  background-color: $primary-color-green;
}

.ul-dot {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 900px;
  margin-top: -70px;
  margin-bottom: 111px;
  @media (max-width: $tablet) {
    position: absolute;
    left: -470px;
    margin-top: 31px;
  }
  @media (max-width: $desktop) {
    position: absolute;
    left: -177px;
    margin-top: -85px;
  }
}

.dot-link:hover {
  background-color: $primary-color-green;
}

.second-btn__diffuser-desktop {
  @media (max-width: $desktop) {
    margin-left: -70px;
  }
  @media (max-width: $tablet) {
    margin-left: 0;
  }
}

.changed-dot {
  @media (max-width: $tablet) {
    position: absolute;
    left: -425px;
    margin-top: 40px;
  }
  @media (max-width: $mobile) {
    position: absolute;
    margin-top: 320px;
  }
}
