.collection-section {
  display: flex;
  align-items: center;
  gap: 90px;
  margin-bottom: 150px;
  @media (max-width: $desktop) {
    gap: 0;
  }
  @media (max-width: $tablet) {
    position: relative;
  }
}

.first-box__collection {
  background-image: url(/img/Blob.png);
  background-repeat: no-repeat;
  width: 737px;
  height: 709px;
  background-size: contain;
  @media (max-width: $tablet) {
    width: 500px;
    height: 500px;
  }
  @media (max-width: $mobile) {
    background-image: url(/img/toutem-image-mobile.png);
    width: 400px;
    height: 400px;
    background-size: cover;
    margin-top: -80px;
    margin-left: 250px;
  }
}

.toutem-img {
  margin-top: 125px;
  margin-left: 77px;
  @media (max-width: $tablet) {
    width: 402px;
    height: 356px;
    position: absolute;
    top: -50px;
  }
  @media (max-width: $mobile) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    border: 0;
    padding: 0;
    margin: -1px;
  }
}

.h2-collection {
  @include title-categories;
  font-size: 50px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 107.9%;
  width: 573px;
  text-align: right;
  margin-left: -40px;
  @media (max-width: $tablet) {
    font-size: 30px;
    margin-left: 55px;
  }
  @media (max-width: $desktop) {
    margin-left: 100px;
  }
  @media (max-width: $mobile) {
    text-align: center;
    margin-left: 250px;
  }
}

.info-collection {
  @include paragraph;
  width: 374px;
  margin-bottom: 33px;
  text-align: right;
  margin-left: 150px;
  @media (max-width: $tablet) {
    margin-left: 250px;
  }
  @media (max-width: $desktop) {
    margin-left: 290px;
  }
  @media (max-width: $mobile) {
    text-align: center;
    margin-left: 430px;
    width: 263px;
  }
}

.collection-btn {
  @include btn;
  margin-left: 250px;
  @media (max-width: $tablet) {
    margin-left: 350px;
  }
  @media (max-width: $desktop) {
    margin-left: 400px;
  }
  @media (max-width: $mobile) {
    margin-left: 420px;
  }
}

.collection-btn:hover {
  background-color: rgb(12, 12, 56);
}

.second-box__collection {
  margin-left: -80px;
  @media (max-width: $desktop) {
    margin-left: -300px;
  }
  @media (max-width: $mobile) {
    position: absolute;
    top: 350px;
    left: 250px;
  }
}
