.trends__first--box {
  background-image: url(/img/flowertrends.png);
  width: 563px;
  height: 850px;
  background-size: contain;
  position: relative;
  @media (max-width: $tablet) {
    margin-top: 377px;
    width: 480px;
    height: 650px;
  }
}

.trends-section {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 56px;
}

.text-box__trends {
  position: absolute;
  top: 290px;
  left: 94px;
  @media (max-width: $tablet) {
    text-align: center;
    margin-left: 77px;
    margin-top: -140px;
  }
}

.trends-boxes {
  position: absolute;
  left: 570px;
  bottom: 350px;
  @media (max-width: $desktop) {
    left: 424px;
  }
  @media (max-width: $tablet) {
    top: 150px;
    margin-left: -150px;
  }
}

.dot-trends {
  background: #9ca3af;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}

.ul-dot__trends {
  display: flex;
  align-items: center;
  gap: 5.44px;
  margin-top: 300px;
  margin-left: 385px;
  @media (max-width: $desktop) {
    margin-left: 155px;
  }
  @media (max-width: $tablet) {
    position: absolute;
    top: 700px;
    left: 250px;
  }
}

.first-dot__trends {
  background-color: $primary-color-green;
}

.dot-trends:hover {
  background: $primary-color-green;
}

.last-market {
  @media (max-width: $desktop) {
    margin-left: -60px;
    margin-top: 5px;
  }
}

.trends-first__diffuser {
  @media (max-width: $tablet) {
    margin-bottom: 44px;
  }
}

.trends-first__btn {
  @media (max-width: $tablet) {
    position: absolute;
    left: 315px;
  }
}

.last-trends__market {
  @media (max-width: $tablet) {
    position: absolute;
    left: 385px;
  }
}

.trends-btn__shop {
  @media (max-width: $tablet) {
    padding: 12px 77px;
  }
}