$desktop-l: 1440px;
$desktop: 1200px;
$tablet: 768px;
$mobile: 375px;
$primary-color-green: #5fd788;
$primary-color-white: #fff;
$primary-color-grey: #1f2937;
$primary-color-greyscale: #6b7280;
$primary-color-footer: #9ca3af;
$primary-color-aqua: #99ffff;